.downloadBlock {
    display: flex;
    padding: calc(4 * var(--vh)) 0;
    justify-content: center;
    font-family: "Raleway";
}

.downloadBlock a {
    color: #b6b6b6;
    font-size: 18px;
    display: inline-block;
    margin: 0 30px;
    padding: 2px 0;
    border-bottom: 1px solid #b6b6b6;
    cursor: pointer;
    transition: 0.3s;
}

.downloadBlock a:hover {
    border-bottom: 1px solid var(--main-text-color);
    color: var(--main-text-color);
    transition: 0.3s;
}

@media screen and (max-width: 648px) {
    .downloadBlock {
        display: grid;
    }

    .downloadBlock a {
        font-size: 16px;
        margin: 25px 0;
    }
}

@media screen and (max-width: 468px) {
    .downloadBlock a {
        font-size: 13px;
        margin: 20px 0;
    }
}

@media screen and (max-width: 396px) {
    .downloadBlock a {
        font-size: 12px;
        margin: 12px 0;
    }
}
