:root {
    --hoverblockAPRInfo-width: 250px;
    --hoverblockAPRInfo-height: 110px;
}

.hoverblockAPRInfo {
    width: var(--hoverblockAPRInfo-width);
    max-width: var(--hoverblockAPRInfo-width);
    overflow: hidden;
    height: var(--hoverblockAPRInfo-height);
    max-height: var(--hoverblockAPRInfo-height);
    background: rgba(48, 71, 160, 0.9);
    color: #abe6bf;
    border-radius: 15px;
    padding: 8px;
    display: flex;
    align-items: center;
    border: 2px solid #405dd3;
}

.hoverblockAPRInfo strong {
    color: white;
    font-family: "Raleway";
}

.hoverblockAPRInfo__row {
    font-size: 14px;
}

.hoverblockAPRInfo__rowMini {
    font-size: 11px;
    padding-left: 5px;
}

@media screen and (max-width: 828px) {
    :root {
        --hoverblockAPRInfo-width: 200px;
    }
}
