.partBlock {
    text-align: center;
    padding: 10vh 0;
    font-size: 26px;
    color: var(--main-text-color);
    font-weight: bold;
}

@media screen and (max-width: 648px) {
    .partBlock {
        font-size: 22px;
        padding: 5vh 0;
    }
}
