.partBlock {
    text-align: center;
    padding: calc(10 * var(--vh)) 0;
    font-size: 26px;
    color: var(--main-text-color);
    font-weight: bold;
}

@media screen and (max-width: 648px) {
    .partBlock {
        font-size: 22px;
        padding: calc(5 * var(--vh)) 0;
    }
}

@media screen and (max-width: 468px) {
    .partBlock {
        font-size: 18px;
        padding: calc(3 * var(--vh)) 5vw;
    }
}

@media screen and (max-width: 396px) {
    .partBlock {
        font-size: 16px;
        padding: 0 5vw;
    }
}
