:root {
    --modal-borders-color: #a26855;
}

.stocklist {
    max-height: 70vh;
    width: 100%;
    overflow-y: auto;
    border: 1px solid var(--modal-borders-color);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.stocklist__coinCard {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr;
    padding: 1vh 0;
    border-bottom: 1px solid var(--modal-borders-color);
    align-items: center;
}

.stocklist__coinCard:last-child {
    border-bottom: none;
}
