.principles h1 {
    padding: calc(10 * var(--vh)) 0 calc(7 * var(--vh)) 0;
}

.principles__cardsContainer {
    display: grid;
    justify-items: center;
    width: 100%;
}

.principles__cardsContainer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.principles__cardsContainer__grid__card {
    width: 15vw;
    background: #1b072b;
    border: 1px;
    border: 1px solid #260a3d;
    padding: 2vw;
    border-radius: 18px;
    margin: 0 16px;
    opacity: 0.95;
    transition: 0.3s;
    cursor: pointer;
    will-change: transform;
}

.principles__cardsContainer__grid__card h3 {
    font-weight: 600;
    font-family: "Raleway";
    font-size: 20px;
    color: white;
    margin: calc(2 * var(--vh)) 0;
}

.principles__cardsContainer__grid__card:hover {
    background: #210935;
    transition: 0.3s;
    transform: translateY(-15px);
    box-shadow: 0 0 10px #260a3d;
}

.principles__cardsContainer__grid__card p {
    font-family: "Roboto";
    font-size: var(--main-text-size);
    color: #b6b6b6;
}

.principles__cardsContainer__grid__card img {
    width: var(--icons-width);
    height: var(--icons-width);
}

@media screen and (max-width: 1280px) {
    .principles__cardsContainer__grid__card {
        width: 18vw;
    }
}

@media screen and (max-width: 1024px) {
    .principles__cardsContainer__grid__card {
        margin: 20px;
        width: 25vw;
    }

    .principles__cardsContainer__grid {
        grid-template-columns: 1fr 1fr;
    }
}

.principles__cardsContainer__grid__card__container {
}

@media screen and (max-width: 828px) {
    .principles__cardsContainer__grid__card {
        margin: 22px;
        width: 30vw;
    }

    .principles__cardsContainer__grid__card h3 {
        font-size: 18px;
        margin: calc(2.5 * var(--vh)) 0;
    }

    .principles h1 {
        padding: calc(10 * var(--vh)) 0 calc(12 * var(--vh)) 0;
    }
}

@media screen and (max-width: 648px) {
    .principles__cardsContainer__grid__card {
        margin: 12px;
        width: 40vw;
    }
}

@media screen and (max-width: 524px) {
    .principles__cardsContainer__grid__card__container {
        display: flex;
        align-items: center;
    }

    .principles__cardsContainer__grid__card {
        margin: 8px;
    }

    .principles__cardsContainer__grid__card h3 {
        font-size: 15px;
        padding-left: 7px;
    }

    .principles h1 {
        padding: calc(5 * var(--vh)) 0 calc(8 * var(--vh)) 0;
    }
}

@media screen and (max-width: 524px) {
    .principles__cardsContainer__grid {
        grid-template-columns: 1fr;
    }

    .principles__cardsContainer__grid__card {
        margin: 16px 0;
        width: 80vw;
        padding: 4vw;
    }

    .principles__cardsContainer__grid__card p {
        font-size: 13px;
        padding-bottom: calc(2 * var(--vh));
    }

    .principles__cardsContainer__grid__card h3 {
        padding-left: 12px;
    }
}

@media screen and (max-width: 456px) {
    .principles__cardsContainer__grid__card {
        margin: 10px 0;
    }

    .principles__cardsContainer__grid__card p {
        font-size: 12px;
    }
}
