.modalWindowContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100 * var(--vh));
    background: rgba(0, 0, 0, 0.8);
}

.modalWindowContainer__action {
    width: 70vw;
    height: calc(85 * var(--vh));
    background: #160622;
    padding: calc(3 * var(--vh)) 2vw calc(2 * var(--vh)) 2vw;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #3d204f;
}

.modalWindowContainer__closeButton {
    position: absolute;
    top: 0.5vw;
    right: 1vw;
    font-weight: bold;
    font-size: 22px;
    color: #e1e1e1;
    cursor: pointer;
    transition: 0.3s;
}

.modalWindowContainer__closeButton:hover {
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {
    .modalWindowContainer__action {
        width: 90vw;
        height: calc(90 * var(--vh));
    }

    .modalWindowContainer__closeButton {
        top: 1.5vw;
        right: 2vw;
    }
}

@media screen and (max-width: 524px) {
    .modalWindowContainer__action {
        box-sizing: border-box;
        width: 100vw;
        height: calc(100 * var(--vh));
        border-radius: 0;
    }

    .modalWindowContainer__closeButton {
        top: 3vw;
        right: 3vw;
    }
}

@media screen and (max-width: 396px) {
    .modalWindowContainer__closeButton {
        font-size: 20px;
        padding: 1vw;
    }
}
