.struct h1 {
    padding: 20vh 0 15vh 0;
}

.instructionBlock {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 10vh;
}

.instructionBlock div {
    width: 80%;
    padding: 2vw;
    border: 2px solid #251933;
    border-radius: 12px;
    background: #140123;
}

.instructionBlock div h2 {
    font-size: 24px;
    color: #fff;
    font-family: "Raleway";
    margin-bottom: 12px;
}

.instructionBlock div p {
    color: #d0d0d0;
    font-size: var(--main-text-size);
}

@media screen and (max-width: 648px) {
    .instructionBlock div {
        width: 85%;
        padding: 3vw;
    }

    .instructionBlock div h2 {
        font-size: 20px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 456px) {
    .instructionBlock div h2 {
        font-size: 19px;
    }

    .instructionBlock div {
        width: 85%;
        padding: 3vh 3vw;
    }

    .instructionBlock {
        padding-bottom: 2vh;
    }

    .struct h1 {
        padding: 15vh 0 10vh 0;
    }
}

@media screen and (max-width: 396px) {
    .instructionBlock div p {
        line-height: 17px;
    }
}
