.bg_header_about {
    background: url("../assets/backgrounds/bg-header+about.png") no-repeat;
    background-size: 100vw;
}

.bg_main {
    background: url("../assets/backgrounds/bg-main.png") no-repeat;
    background-size: 100vw;
}
