.header_block {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #230a38;
    background: #11011e;
    opacity: 0.9;
    z-index: 1;
}

.header_block nav span {
    font-family: "Raleway";
    font-size: var(--main-text-size);
    padding: 10px;
}

.header_block nav span a {
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    padding: 2px 0;
}

.header_block__no_activeLink a {
    color: var(--main-text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header_block__no_activeLink a:hover {
    transition: 0.3s;
    color: #10ad98;
}

.header_block__activeLink a {
    color: var(--selected-text-color);
    border-bottom: 1px solid var(--selected-text-color);
}

.header_block__logo {
    font-family: "Raleway";
    font-weight: bold;
    margin-right: 10vw;
    font-size: 24px;
    color: white;
}

.header_block__logo span:last-child {
    color: var(--selected-text-color);
}

@media screen and (max-width: 828px) {
    .header_block__logo {
        font-size: 20px;
    }
}

@media screen and (max-width: 648px) {
    .header_block__logo {
        font-size: 18px;
    }

    .header_block__no_activeLink a:hover {
        transition: 0.3s;
        color: var(--main-text-color);
    }
}

@media screen and (max-width: 524px) {
    .header_block__logo {
        margin-right: 5vw;
        font-size: 17px;
    }

    .header_block nav span {
        padding: 10px 7px;
    }
}

@media screen and (max-width: 456px) {
    .header_block__logo {
        margin-right: 2vw;
        font-size: 15px;
    }

    .header_block nav span {
        padding: 10px 5px;
    }

    .header_block nav span a {
        padding: 1px 0;
    }
}

@media screen and (max-width: 396px) {
    .header_block__logo {
        margin-right: 4vw;
        font-size: 14px;
    }
}
