.header_block {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #230a38;
    background: #11011e;
    opacity: 0.9;
    z-index: 1;
}

.header_block nav a {
    font-family: "Raleway";
    color: var(--main-text-color);
    text-decoration: none;
    font-size: var(--main-text-size);
    padding: 10px;
}

.header_block__logo {
    font-family: "Raleway";
    font-weight: bold;
    margin-right: 10vw;
    font-size: 24px;
    color: white;
}

.header_block__logo span:last-child {
    color: var(--selected-text-color);
}
