* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-VariableFont.ttf") format("truetype");
}

body {
    background: #11011e;
    font-family: Roboto;
    overflow-x: hidden;
}

html::-webkit-scrollbar-track {
    background-color: #280347;
}

html::-webkit-scrollbar-thumb {
    background-color: #050c26;
    border-radius: 20px;
    border: 3px solid #050c26;
}

:root {
    --main-text-color: #ecf1f0;
    --main-text-size: 16px;
    --selected-text-color: #0fae96;
    --icons-width: 64px;
    --borders-margin: 3vw;
}

@font-face {
    font-family: "Raleway";
    src: url("../assets/fonts/Raleway-VariableFont.ttf") format("truetype");
}

h1 {
    font-size: 44px;
    color: var(--main-text-color);
    font-family: "Raleway";
    font-weight: bold;
    text-align: center;
    margin: 0 var(--borders-margin);
}

button {
    border: 0;
    background: var(--selected-text-color);
    color: var(--main-text-color);
    border-radius: 10px;
    padding: 16px 24px;
    font-family: "Raleway";
    font-weight: 600;
    font-size: var(--main-text-size);
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.blueButton {
    background: #34a2eb;
}

button:hover {
    transition: 0.3s;
    color: white;
    background: #0d9a85;
}

.blueButton:hover {
    background: #2f94d7;
}

footer {
    background: #170128;
    margin: 15vh 0 0 0;
    font-size: 12px;
    color: #b6b6b6;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: "Raleway";
    height: 7vh;
    border-top: 1px solid #280246;
}

@media screen and (max-width: 1024px) {
    :root {
        --main-text-size: 15px;
        --borders-margin: 5vw;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 828px) {
    :root {
        --main-text-size: 14px;
        --borders-margin: 6vw;
        --icons-width: 52px;
    }

    h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 648px) {
    :root {
        --main-text-size: 13px;
        --borders-margin: 7vw;
        --icons-width: 42px;
    }

    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 524px) {
    :root {
        --main-text-size: 12px;
        --icons-width: 36px;
    }

    h1 {
        font-size: 26px;
    }

    button {
        padding: 11px 16px;
    }
}

@media screen and (max-width: 456px) {
    h1 {
        font-size: 25px;
    }

    :root {
        --main-text-size: 11px;
        --icons-width: 32px;
    }

    :root {
        --borders-margin: 5vw;
    }

    footer {
        margin: 8vh 0 0 0;
        font-size: 10px;
    }

    button {
        border-radius: 5px;
    }
}

@media screen and (max-width: 396px) {
    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 366px) {
    h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 346px) {
    h1 {
        font-size: 21px;
    }
    :root {
        --main-text-size: 10px;
        --icons-width: 28px;
    }
}
