.about {
    padding: 30vh 0 20vh 0;
}

.about__text {
    width: 100%;
    font-size: 18px;
    padding: 3vh;
    text-align: center;
    color: #b6b6b6;
    display: flex;
    justify-content: center;
}

.about__text p {
    max-width: 50%;
}

.about__buttonContainer {
    margin: 3vh 0;
    text-align: center;
}
