.about {
    padding: 20vh 0;
}

.about h1 {
    font-size: 44px;
    text-align: center;
    font-family: "Raleway Bold";
    color: white;
}

.about__text {
    width: 100%;
    font-size: 18px;
    padding: 3vh;
    text-align: center;
    color: #b6b6b6;
    display: flex;
    justify-content: center;
}

.about__text p {
    max-width: 50%;
}
