.marketCap {
    display: flex;
    justify-content: center;
}

.marketCapBlock {
    width: 80vw;
    height: 85vh;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.marketCapBlock div {
    min-height: 0;
    max-height: 85vh;
    height: 100%;
    width: 100%;
}

.marketCapBlock__info_element {
    border: 2px solid #0f6e62;
    font-family: "Raleway";
    color: var(--main-text-color);
    font-weight: 600;
}

.marketCapBlock__info_element__text {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
