.marketCapBlock {
    width: 95vw;
    height: 70vh;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.marketCapBlock div {
    min-height: 0;
    max-height: 70vh;
    height: 100%;
    width: 100%;
}

.marketCapBlock__info_element {
    border: 1px solid black;
}
