:root {
    --checkbox-size: 21px;
}

.visualizationBlock__container {
    display: flex;
    justify-content: center;
}

.visualizationBlock h3 {
    font-size: 26px;
    color: var(--main-text-color);
    text-align: start;
    margin: 3vh 0;
    font-family: "Raleway";
}

.visualizationBlock h3 span {
    font-size: 12px;
}

.visualizationBlock__container__block {
    margin: 3vh var(--borders-margin);
}

.visualizationBlock__usdInput {
    background: none;
    border: 2px solid #513872;
    padding: 10px;
    box-shadow: 0;
    border-radius: 6px;
    color: var(--main-text-color);
    width: 25vw;
    display: block;
    outline: none;
    font-size: 18px;
    transition: 0.3s;
}

.visualizationBlock__usdInput:focus {
    border: 2px solid hsl(266, 34%, 48%);
    transition: 0.3s;
    box-shadow: 0 0 6px #4f376f;
}

.visualizationBlock__usdInput::placeholder {
    font-weight: 450;
    font-family: "Raleway";
    color: #999c9b;
}

.visualizationBlock__container__checkboxes {
    margin: var(--vh) 0;
}

.visualizationBlock__container__checkboxes label {
    font-size: var(--main-text-size);
    color: #dde1e0;
    font-family: "Raleway";
    font-weight: 450;
    display: flex;
    align-items: center;
    user-select: none;
}

.visualizationBlock__container__checkboxes label span {
    display: inline-block;
    margin-left: 9px;
}

.struct__button {
    text-align: center;
    padding: 10vh 0;
}

.visualizationBlock__container__checkboxes input {
    appearance: none;
    background-color: #e1e1e1;
    margin: 0;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    border-radius: 3px;
    display: grid;
    place-content: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.visualizationBlock__container__checkboxes input:hover {
    background: #fff;
    transition: 0.3s;
}

.visualizationBlock__container__checkboxes input::before {
    content: "";
    width: calc(var(--checkbox-size) - 3px);
    height: calc(var(--checkbox-size) - 3px);
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #7207ca;
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.visualizationBlock__container__checkboxes input:checked::before {
    transform: scale(1);
}

.button_block {
    text-align: center;
    padding: 7vh 0;
}

@media screen and (max-width: 1024px) {
    .visualizationBlock__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .visualizationBlock__container__block {
        display: grid;
        justify-items: center;
    }

    .visualizationBlock__usdInput {
        width: 35vw;
        text-align: center;
    }
}

@media screen and (max-width: 828px) {
    .visualizationBlock__container__checkboxes {
        margin: calc(1.5 * var(--vh)) 0;
    }

    .visualizationBlock__usdInput {
        margin-top: 3vh;
        font-size: 16px;
    }

    .button_block {
        padding: 12vh 0 10vh 0;
    }
}

@media screen and (max-width: 648px) {
    .visualizationBlock__usdInput {
        font-size: 15px;
        width: 50vw;
        margin-top: 3vh;
    }

    .visualizationBlock h3 {
        margin: 8vh 0 3vh;
        font-size: 22px;
    }

    :root {
        --checkbox-size: 18px;
    }
}

@media screen and (max-width: 524px) {
    .visualizationBlock__usdInput {
        font-size: 13px;
        width: 70vw;
        border: 1px solid #513872;
    }

    .visualizationBlock__usdInput:focus {
        border: 1px solid hsl(266, 34%, 48%);
    }

    .visualizationBlock h3 {
        margin: 8vh 0 3vh;
        font-size: 22px;
    }

    .struct__button {
        padding: 7vh 0;
    }

    .button_block {
        padding: 8vh 0 10vh 0;
    }
}

@media screen and (max-width: 456px) {
    .visualizationBlock__usdInput {
        width: 80vw;
    }

    .visualizationBlock h3 {
        margin: 5vh 0 2vh;
        font-size: 18px;
    }

    .struct__button {
        padding: 3vh 0 10vh 0;
    }

    :root {
        --checkbox-size: 16px;
    }
}

@media screen and (max-width: 396px) {
    .visualizationBlock__usdInput {
        padding: 7px;
    }
}
